<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<div th:fragment="common_header">
    <nav class="nav navbar-default navbar-mystyle navbar-fixed-top">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
            <a class="navbar-brand mystyle-brand"><span class="glyphicon glyphicon-home"></span></a></div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="li-border">
                    <a class="mystyle-color" href="/admin/index">管理控制台</a></li>
                <li class="li-border">
                    <a class="mystyle-color" shiro:hasAnyPermissions="admin:device:list,admin:device"
                       href="/admin/quoting/index">消息管理<span
                            class="caret"></span></a>

                </li>


                <li class="li-border">
                    <a class="mystyle-color" shiro:hasAnyPermissions="admin:group:list,admin:group"
                       href="/admin/group/index">订阅管理<span
                            class="caret"></span></a>

                </li>

                <li class="li-border"><a class="mystyle-color" shiro:hasAnyPermissions="admin:user:list,admin:user"
                                         href="/admin/user/index">用户管理<span
                        class="caret"></span></a>


            </ul>
            <ul class="nav navbar-nav pull-right">
                <li class="li-border"><a href="#" class="mystyle-color"> <span class="glyphicon glyphicon-bell"></span>
                    <span class="topbar-num">0</span> </a></li>
                <li class="li-border dropdown"><a href="#" class="mystyle-color" data-toggle="dropdown"> <span
                        class="glyphicon glyphicon-search"></span> 搜索</a>
                    <div class="dropdown-menu search-dropdown">
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
            <button type="button" class="btn btn-default">搜索</button>
            </span></div>
                    </div>
                </li>
                <li class="dropdown li-border"><a href="#" class="dropdown-toggle mystyle-color" data-toggle="dropdown">帮助与文档<span
                        class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">帮助与文档</a></li>
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#">论坛</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#">博客</a></li>-->
                    </ul>
                </li>
                <li class="dropdown li-border"><a href="#" class="dropdown-toggle mystyle-color" data-toggle="dropdown"
                                                  th:text="${WorkContext.partUserInfo.email}">605875855@qq.com
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/logout">退出</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle mystyle-color" data-toggle="dropdown">换肤<span
                        class="caret"></span></a>
                    <ul class="dropdown-menu changecolor">
                        <li id="blue"><a href="#">蓝色</a></li>
                        <li class="divider"></li>
                        <li id="green"><a href="#">绿色</a></li>
                        <li class="divider"></li>
                        <li id="orange"><a href="#">橙色</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="hope" th:fragment="hope">


    <div>
        欢迎您：<strong th:text="${WorkContext.nickName} "></strong>
        <span>|</span>
        今天是：<span id="show">2017月11日15 星期三</span>
    </div>

    <script type="text/javascript">
        window.onload = function () {
            var show = document.getElementById("show");
            setInterval(function () {
                var time = new Date();
                // 程序计时的月从0开始取值后+1
                var m = time.getMonth() + 1;
                var t = time.getFullYear() + "-" + m + "-"
                    + time.getDate() + " " + time.getHours() + ":"
                    + time.getMinutes() + ":" + time.getSeconds();
                show.innerHTML = t;
            }, 1000);
        };
    </script>

</div>