<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>英卡电子</title>
    <meta name="author" content="Cqingwo-Liu"/>
    <meta name="copyright" content="Copyright (c) 2011 Cqingwo All Rights Reserved."/>
    <!-- struts -->
    <link href="/static/admin/css/style.css" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="/static/admin/css/miluo.css"/>
    <!-- 调用远程jquery -->
    <script src="https://cdn.cqwo.com/js/jquery.min.js" type="text/javascript"></script>
    <!-- 调用Bootstrap-->
    <script src="https://cdn.cqwo.com/js/bootstrap.min.js" type="text/javascript"></script>
    <!--公共JS方法-->
    <script src="https://cdn.cqwo.com/js/commom.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/admin/scripts/showlist.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.cqwo.com/js/html5shiv.min.js"></script>
    <script src="https://cdn.cqwo.com/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper">
    <div id="position">
        <div class="position">
            <img src="/static/admin/images/position.png" alt=""/>
            <a href="#">消息管理</a>
            <img src="/static/admin/images/right.png" alt=""/>
            <span>消息详情</span>
        </div>


        <div th:replace="~{admin/shared/common_message :: hope}"></div>

    </div>

    <div id="contenr">


        <div class="addTable">

            <table style="width: 100%" class="table table-striped table-bordered table-hover">
                <tbody>
                <tr>
                    <th colspan="4" align="left">基本信息</th>
                </tr>
                <tr>
                    <td width="150px">设备ID：</td>
                    <td th:text="${Model.messageInfo.deviceSN}">设备ID</td>
                    <td width="150px">消息协议：</td>
                    <td th:text="${Model.messageInfo.protocol}">消息协议</td>
                </tr>
                <tr>
                    <td width="150px">token：</td>
                    <td colspan="3" th:text="${Model.messageInfo.token}">INCAR</td>
                </tr>
                <tr>
                    <td width="150px">设备名称：</td>
                    <td th:text="${Model.messageInfo.deviceName}">INCAR</td>
                    <td width="150px">设备编码：</td>
                    <td th:text="${Model.messageInfo.deviceCode}">英卡电子</td>
                </tr>
                <tr>
                    <td width="150px">消息说明：</td>
                    <td colspan="3" th:text="${Model.messageInfo.message}">英卡电子</td>
                </tr>
                <tr>
                    <td width="150px">消息内容：</td>
                    <td colspan="3">
                        <div style="word-wrap:break-word; white-space:normal; word-break:break-all; width: 90%"
                             th:utext="${Model.messageInfo.content}">消息内容
                        </div>
                    </td>
                </tr>
                <tr th:unless="${#strings.isEmpty(Model.messageInfo.litpic)}">
                    <td width="150px">消息图片：</td>
                    <td colspan="3">
                        <img src="" th:src="${Model.messageInfo.litpic}" style="width: 100px;height: 100px">
                    </td>
                </tr>
                </tbody>
            </table>

            <table style="width: 100%" class="table table-striped table-bordered table-hover">
                <tbody>
                <tr>
                    <th colspan="8" align="left" style="background-color: #09C;color: whitesmoke">解析参数</th>
                </tr>
                <tr>
                    <td>协议Id</td>
                    <td>消息Id</td>
                    <td>token</td>
                    <td>设备编号</td>
                    <td>protocol</td>
                    <td>key</td>
                    <td>value</td>
                    <td>时间戳</td>
                </tr>
                <tr th:each="info : ${Model.recordInfoList}">
                    <td th:text="${info.recordId}">1</td>
                    <td th:text="${info.msgId}">消息Id</td>
                    <td th:text="${info.token}">token</td>
                    <td th:text="${info.deviceSN}">deviceSN</td>
                    <td th:text="${info.protocol + '(' + info.protodesc + ')'}">盗警</td>
                    <td th:text="${info.key + '(' + info.desc + ')'}">key</td>
                    <td th:text="${info.value}">value</td>
                    <td th:text="${#dates.format(new java.util.Date(info.addTime*1000L).getTime() , 'yyyy-MM-dd HH:mm:ss')}">
                        时间戳
                    </td>
                </tr>
                </tbody>
            </table>


            <br>
        </div>

    </div>
</div>
</body>

</html>
