/*
 *
 *  * Copyright (C) 2017.
 *  * 用于JAVA项目开发
 *  * 重庆英卡电子有限公司 版权所有
 *  * Copyright (C)  2017.  CqingWo Systems Incorporated. All rights reserved.
 *
 */

@charset "utf-8";/* CSS Document */
tbody tr{
	height:106px;
}
td img{
	width:110px;
	height:80px;
	overflow:hidden;
}
