/*
 * Copyright (c) 2018. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 * Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.
 * Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.
 * Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.
 * Vestibulum commodo. Ut rhoncus gravida arcu.
 */

html, body, #container {
    height: 100%;
    width: 100%;
}

html, body, #wrapper, #amap {
    width: 100%;
    height: 100%;
}

#enlargeTools {
    width: 22px;
    height: 22px;
    overflow: hidden;
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
}

#enlargeTools img {
    width: 20px;
    height: 20px;
}

#rightTools {
    width: 120px;
    top: 108px;
    height: auto;
    position: absolute;
    background-color: whitesmoke;
    right: 15px;
    padding: 10px 0 10px 10px;
}

#rightTools li {
    line-height: 32px;
    height: 32px;
    padding-bottom: 10px;
}

#rightTools li input[type="checkbox"], #rightTools li input[type="radio"] {
    display: inline-block;
    margin: -2px 5px 0 0;
}

#rightTools li.hr {
    padding-bottom: 20px;
    border-bottom: 1px solid #3c3c3c;
}

#rightTools li .iconfont {
    display: inline-block;
    background: red;
}


.content-window-card {
    position: relative;
    box-shadow: none;
    bottom: 0;
    left: 0;
    width: auto;
    padding: 0;
}

.content-window-card p {
    height: 2rem;
}

.custom-info {
    border: solid 1px silver;
}

div.info-top {
    position: relative;
    background: none repeat scroll 0 0 #F9F9F9;
    border-bottom: 1px solid #CCC;
    border-radius: 5px 5px 0 0;
}

div.info-top div {
    display: inline-block;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    line-height: 31px;
    padding: 0 10px;
}

div.info-top img {
    position: absolute;
    top: 10px;
    right: 10px;
    transition-duration: 0.25s;
}

div.info-top img:hover {
    box-shadow: 0 0 5px #000;
}

div.info-middle {
    font-size: 12px;
    padding: 10px 6px;
    line-height: 20px;
}

div.info-bottom {
    height: 0;
    width: 100%;
    clear: both;
    text-align: center;
}

div.info-bottom img {
    position: relative;
    z-index: 104;
}

span {
    margin-left: 5px;
    font-size: 11px;
}

.info-middle img {
    float: left;
    margin-right: 6px;
}


.deviceInfo {
    width: 100%;
    padding: 10px;
}

.deviceInfo .headBox {
    width: 100%;
    margin-bottom: 10px;
}

.deviceInfo .headBox .litpic {
    width: 200px;
    height: 200px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}


.deviceInfo .headBox li {
    height: 32px;
    line-height: 32px;
}

.deviceInfo .headBox li:before {
    content: "";
    padding-right: 10px;
}

.deviceInfo .headBox li.deviceSN:before {
    content: "编号:";
}


.deviceInfo .headBox li.deviceName:before {
    content: "名称:";
}


.deviceInfo .headBox li.deviceToken:before {
    content: "Token:";
}


.deviceInfo .headBox li.deviceAddress:before {
    content: "安装地址:";
}

.deviceInfo .headBox li.deviceLongitude:before {
    content: "经度:";
}


.deviceInfo .headBox li.deviceLatitude:before {
    content: "纬度:";
}


