/*
 *
 *  * Copyright (C) 2017.
 *  * 用于JAVA项目开发
 *  * 重庆英卡电子有限公司 版权所有
 *  * Copyright (C)  2017.  CqingWo Systems Incorporated. All rights reserved.
 *
 */

@charset "utf-8";
/* CSS Document */
#prompt {
	color: #3A4F6C;/**/
	background-color: #FEFEFE;
	border: 1px solid #DDD;
	padding: 18px;
	width: 600px;
	height: 128px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	font-family:"宋体";
	margin-top: -80px;
	box-shadow: 0 0 5px #CCC;
	
	text-align:center;
}
#prompt .title {
	height: 38px;
	font-size:18px;
	text-align: center;
	background: none;
	font-family:"Microsoft Yahei";
	color:#0e95cc;
}
#prompt .proccess {
	background: #ffffff;
	border: 1px solid #ddd;
	height: 6px;
	border-radius:3px;
	margin: 3px;
	width: 6px
}

#prompt .animate{
	width:420px;
	height:22px;
	margin:0 auto;
}

#prompt .promptMsg {
    color: #888;
    padding: 5px;
	font-size:12px;
}

#prompt .promptMsg a{
	color:#0e95cc;
}

