﻿/*
 *
 *  * Copyright (C) 2017.
 *  * 用于JAVA项目开发
 *  * 重庆英卡电子有限公司 版权所有
 *  * Copyright (C)  2017.  CqingWo Systems Incorporated. All rights reserved.
 *
 */

@charset "utf-8";

#main {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

    #main .main .name {
        font-size: 14px;
        padding-left: 30px;
        background-color: #3E4752;
        height: 40px;
        font-weight: bold;
        line-height: 40px;
        color: #fff;
    }

    #main .main .tips {
        padding-left: 0;
        color: #000;
        margin-top: 10px;
        font-size: 14px;
    }

    #main .main .logobox {
        width: 880px;
        display: inline-block;
    }

    #main .main ul li.w45 {
        width: 45%;
    }

    #main .main ul li.w100 {
        width: 100%;
    }

    #main .main ul li input.text {
        width: 300px;
        height: 32px;
        overflow: hidden;
        display: inline-block;
        line-height: 28px;
        padding-left: 5px;
        border-radius: 2px;
        border: 1px solid #999;
    }

    #main .main ul li input.address {
        width: 600px;
    }

    #main .main ul li input.school {
        width: 480px;
    }

    #main .main ul li input.keywords {
        width: 600px;
    }

    #main .main ul li input.uname {
        width: 480px;
    }

    #main .main ul li input.realname {
        width: 320px;
    }

    #main .main ul li input.bankname {
        width: 280px;
    }

    #main .main ul li input.bankcard {
        width: 380px;
    }

    #main .main ul li input.bankaddress {
        width: 580px;
    }
